{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block content %}
  <h1> Modifier Mon mot de passe </h1>

  
  
  <a href="{{ path('account') }}"> Retourner a mon compte</a><br>
  {{ form(form)}}



{% endblock %}