{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content  %}

<h3 class="text-center"> Nouvelle Collection </h3>
<p class="text-center"> Decouvrez nos nouveaux T-Shirt </p>
 <!-- Three columns of text below the carousel -->
    
        <div class="row">
               {% for product in bestProducts %}
                   <div class="col-md col-sm"> 
                       {% include 'product/single-product.html.twig' %}
                   </div>
               {% endfor %}
        </div><!-- /.row -->
    


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Click  An<span class="text-muted">d Collect</span></h2>
                <p class="lead">Commandez en ligne et récupérez vos T-Shirt dans nos magasin le plus proche</p>
            </div>
            <div class="col-md-5">    
               <img class="img-fluid" src="{{ asset('/uploads/pexels-karolina-grabowska-5632386.jpg')}}" /> 
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-5">
            <div class="col-md-7 order-md-2 ">
                <h2 class="featurette-heading">Venez nous rencontrer dans nos <span class="text-muted">Boutiques en Guadeloupe</span></h2>
                <p class="lead">Abymes - Pointe-a-Pitre <br>
                   <h5> Horaires: <br> </h5>
                    lundi :	08:30 – 20:30 <br>
                    mardi :	08:30 – 20:30 <br>
                    mercredi :	08:30 – 20:30 <br>
                    jeudi :	08:30 – 20:30 <br>
                    vendredi :	08:30 – 20:30 <br>
                    samedi :	08:30 – 21:00 <br>
                    dimanche :	Fermée

                </p>
            </div>
            <div class="col-md-5 order-md-1">
               <img class="img-fluid" src="{{ asset('/uploads/pexels-kaique-rocha-331990.jpg')}}" /> 
            </div>
        </div>


        <!-- /END THE FEATURETTES -->

{% endblock %}
