
body {
    position: relative;
    min-height: 100vh;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #343a40;
    color: #fff;
    padding-top: 20px;

}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
    
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    
}

.product-item .product-price{
    font-size: 14px;
    font-weight: bold;
}

.card{
    
    margin-right: 25px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    height: 370px;
}

.price-single{
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}