{% extends 'base.html.twig' %}

{% block title %}Page Introuvable{% endblock %}

{% block content %}


<div class="block-small">

  <div class="text-center">
       <h3> Page Introuvable</h3>
       <p> Error 404 </p> 
       <a href=" {{ path('home') }} "> Revenir au site  </a> 
  </div>

</div>
{% endblock %}